
#htmlwrapper {
	.dash_text {
	    text-align: center;
	}

	table tbody tr {
		cursor: pointer;
	}

	table.dataTable {
		width: 100% !important;
	}

	div.dataTables_wrapper div.dataTables_info {
		padding-bottom: 8px;
	}

	input[type=checkbox] {
	  margin-right: 5px;
	}

	#searchBar {
		margin-bottom: 10px;
	}
}
