
@import 'mixins';
@import 'variables';
@import 'navbar';

#htmlwrapper {

	body {
		background-color: $bg-color;
		font-family: 'Roboto', Tahoma, Serif, Arial;
		.top-nav .login-title {
			padding-left: 15px;
			color: $white-color;
		}
	}

	.btn:not(.btn-override) {
		padding: 10px 15px;
	}

	.btn-default:not(.btn-override) {
		background-color: $fg-color-light;
		border-color: $fg-color-light-hover;
		color: $white-color-hover;
	}

	.btn-default:hover:not(.btn-override) {
		background-color: $fg-color-light-hover;
	}

	.shadow-box {
		border: 1px solid $fg-color-dark;
	    padding: 10px;
	    -moz-box-shadow: inset 0 0 2px $fg-color-dark;
	    -webkit-box-shadow: inset 0 0 2px $fg-color-dark;
	    box-shadow: inset 0 0 2px $fg-color-dark;
	    border-radius: 5px;
	    margin-bottom: 20px;
	}

	.form-control:focus,
	.picker__input--active,
	.selectize-input.focus {
		border-color: $fg-color-light;
		// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 127, 140, 0.6);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 127, 140,.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 127, 140,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 127, 140,.6);
	}

	.datepicker {
		background-color: #fff;
		cursor: pointer;
	}

	h2 {
		text-align: center;
		color: $fg-color-dark;
	}

	@include placeholder {
		color: $fg-color-dark;
		opacity: 0.60;
	}

	.warning {
		margin: 10px 0;
	}

	.nav-pills {
		li:not(.active) {
			a {
				color: $fg-color-dark;
				&:hover {
					color: $fg-color-dark-hover;
				}
			}
		}
		li.active {
			a {
				background-color: $fg-color-light;
				&:hover {
					background-color: $fg-color-light-hover;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.jumbotron {
			padding: 10px;
		}
	}

	.tab-pane {
		margin-top: 20px;
	}

	.request-table {
		margin-bottom: 0;
		thead {
			background-color: #e7e7e7;
		}
	}

	.navbar {
		border-width: 0;
		padding: 0px 5px;

		#pclogo {
			padding: 10px;
			img {
				height:30px;
			}
		}
	}

	.login-container {
		padding: 15px;

		#remember{
			color: #ffffff;
		}
	}

	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;

		#forgot-text {
			margin-top: 10px;
    		text-align: center;
    		color: #2b6e7b;
		}

		.form-signin-heading #rememberMe {
			color: #ffffff;
		}

		.btn {
			border-radius: 4px;
		}

		.submit-btn {
			margin-top: 15px;
			.signin {
				color: #030303;
			}
		}
		.form-signin-heading,
		.checkbox {
			margin-bottom: 10px;
		}
		.checkbox {
			font-weight: normal;
		}
		.form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 16px;
		}
		.form-control:focus {
			z-index: 0;
		}
		input.form-control {
			margin-top: 5px;
		}
	}

	.picker__weekday {
		text-align: center;
	}


	.alert .glyphicon {
		padding-right: 5px;
	}

	.alert a {
		cursor: pointer;
	}

	.alert-info {
		border-color: $info-color;
		a {
			color: $info-color;
			&:hover {
				color: $info-color-hover;
			}
		}
	}

	.alert-success {
		border-color: $success-color;
		a {
			color: $success-color;
			&:hover {
				color: $success-color-hover;
			}
		}
	}

	.alert-warning {
		border-color: $alert-color;
		a {
			color: $alert-color;
			&:hover {
				color: $alert-color-hover;
			}
		}
	}

	.alert-danger {
		border-color: $danger-color;
		a {
			color: $danger-color;
			&:hover {
				color: $danger-color-hover;
			}
		}
	}

	.g-recaptcha {
		margin-top: 10px;

		transform:scale(0.99);
		-webkit-transform:scale(0.99);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}

	span.required {
		color: #E00;
	}

	.pendingLabel {
		font-size: 12px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
}
