#htmlwrapper {
    #countryFlag {
        margin: auto;
        width: 300px;
        height: 300px;
        border-radius: 150px;
        display: block;
        border: 2px solid black;
    }
    #headerName {
      margin-bottom: 30px;
      h2 {
        font-weight: 600;
      }
    }
    form {
        max-width: 300px;
        margin: 0 auto;
        input, button {
            margin-bottom: 10px;
            width: 100%;
        }
        .btn {
            margin-top: 10px;
            margin-bottom: 0px;
        }
        #addPhone {
          margin-bottom: 10px;
          margin-top: 0;
        }
        .removePhone {
          width: 100%;
          margin-top: 0;
        }
        .phoneNumberWrapper {
          height: 34px;
          margin-bottom: 10px;
          > .phoneDiv {
            padding-right: 10px;
            padding-left: 0;
          }
          > .deletePhoneDiv {
            padding-right: 0;
            padding-left: 0;
          }
        }
    }
    .pendingLabelBox {
      text-align: center;
    }
}
