
@import 'mixins';
@import 'variables';

#htmlwrapper {
	input, select, button:not(.navbar-toggle) {
	    width: 100%;
	    margin: 10px auto;
	}

	.leg {
		.form-control {
			margin-top: -3px;
		}

	    h2 {
	    	text-align: center;
	    	width: 100%;
	    	padding-top: 10px;
	    	margin: 0;
	    }
	}

	.warning:first-child {
		margin-top:3px;
	}

	.selectRequestee {
		margin-bottom: 10px;
	}

	.checkbox {
		display: table;
		margin: 10px auto;
	}

	#request-submit {
		margin-top: 10px;
	}

}
