
$bg-color: #e1dec7;
$fg-color-light: #3C7F8C;
$fg-color-light-hover: $fg-color-light - #111;
$fg-color-dark: #392F20;
$fg-color-dark-hover: $fg-color-dark - #222;
$white-color: #e7e7e7;
$white-color-hover: #e7e7e7 + #101010;