//- doctype html
//- html(lang='en')
//-   head
//-     title Submission Form

//-     // Bootstrap core CSS
//-     link(href='/css/bootstrap.min.css', rel='stylesheet')

extends 'layout'

block styles
	link(rel='stylesheet', href='/css/classic.date.css')
	link(rel='stylesheet', href='/css/default.date.css')


block content
	h1 hello world


block scripts
	script(src='js/picker.date.js')
	script(src='js/legacy.js')
