extends layout

block styles
    link(rel='stylesheet', href='/css/datatables.css')
    link(rel='stylesheet', href='/css/addUsers.css')

block content
  .row
    .col-xs-12.col-md-offset-1.col-md-10

      .jumbotron
        h2.dash_text= title

        include flash

        //- button#userUploader.btn.btn-lg.btn-default.btn-block Upload (.csv)
        #uploader
          #icon
            span#upload.glyphicon.glyphicon-cloud-upload
            span#loading.hidden.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            span#success.hidden.glyphicon.glyphicon-ok-circle
            span#error.hidden.glyphicon.glyphicon-remove-circle
          #blurb
            p#title.larger Upload a file.
            p#subtitle .csv files only, <1MB

        #addUsersTable
            table.users-table.table.table-striped.table-hover.table-bordered
              thead
                tr
                  th Name
                  th Email
                  th Country Code
                  th Access
                  th Valid
              tbody
        
        button#clearTable.btn.btn-lg.btn-danger.btn-block.disabled Clear Table      
        button#createUsers.btn.btn-lg.btn-success.btn-block.disabled Create New Users

block scripts
    script(src='/js/datatables.js')
    script(src='/js/SimpleAjaxUploader.min.js')
    script(src='/js/addUsers.js')
