extends layout

block styles
  link(rel='stylesheet', href='/css/dashboard.css')
  link(rel='stylesheet', href='/css/datatables.min.css')
block content
  .row
    .col-xs-12.col-md-offset-1.col-md-10

      .jumbotron
        h2.dash_text Dashboard

        include flash

        #dashboardTable
            table.request-table.table.table-striped.table-hover.table-bordered
              thead
                tr
                  th Name
                  th Start Date
                  th End Date
                  th Approved
              tbody

block scripts
  script(src='/js/moment.js')
  script(src='/js/datatables.min.js')
  script(src='/js/dashboard.js')

