extends layout

block styles
  link(rel='stylesheet', href='/css/dashboard.css')
  link(rel='stylesheet', href='/css/datatables.css')
block content
  .row
    .col-xs-12.col-md-offset-1.col-md-10

      .jumbotron
        h2.dash_text Dashboard

        include flash

        .row#searchBar
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            .input-group
              .input-group-btn
                button.btn.btn-default.dropdown-toggle.btn-override(type='button', data-toggle='dropdown') Filter 
                  span.caret
                ul.dropdown-menu
                  li.dropdown-header Approval Status
                  li
                    a.small(href='#', data-value='show.approved', tabindex='-1')
                      input(type='checkbox' checked)
                      |  Approved
                  li
                    a.small(href='#', data-value='show.denied', tabindex='-1')
                      input(type='checkbox' checked)
                      |  Denied
                  li
                    a.small(href='#', data-value='show.pending', tabindex='-1')
                      input(type='checkbox' checked)
                      |  Pending
                  li.divider(role='separator')
                  li.dropdown-header Limit Search To...
                  li
                    a.small(href='#', data-value='limit.onLeave', tabindex='-1')
                      input(type='checkbox')
                      |  On-leave
                  li
                    a.small(href='#', data-value='limit.assignedMe', tabindex='-1')
                      input(type='checkbox')
                      |  Assigned to me
              input.form-control(type='text', placeholder='Search...')

        #dashboardTable
            table.request-table.table.table-striped.table-hover.table-bordered
              thead
                tr
                  th(data-priority="0") Volunteer
                  th(data-priority="1") Assigned Staff
                  th(data-priority="2") Start Date
                  th(data-priority="3") End Date
                  th(data-priority="4") Countries
                  th(data-priority="10") Approved
              tbody

block scripts
  script.
    var currentUser = !{JSON.stringify(user)};
  script(src='/js/moment.js')
  script(src='/js/datatables.js')
  script(src='/js/fastclick.js')
  script(src='/js/dashboard.js')
