extends layout

block content
  .row
    div.errorContainer(style="max-width: 640px; margin: 0 auto; padding: 20px;")
      h1(style="text-align: center;") Oops. Something is wrong.
      h2 #{message}: #{(error.status ? error.status : "None")}
      a.btn.btn-lg.btn-default.btn-block(href=returnButton, style="margin: 30px 0 20px 0") Return to BonVoyage
    if stackTrace
      .col-xs-12.col-md-offset-1.col-md-10
        pre #{error.stack}
