extends layout

block styles
  link(rel='stylesheet', href='/css/error.css')

block content
  .row
    div.errorContainer
      h1 Oops. Something has gone wrong.
      h3 #{message}
      a.btn.btn-lg.btn-default.btn-block(href='/') Return to BonVoyage
    if error && error.stack
      .col-xs-12.col-md-offset-1.col-md-10
        pre #{error.stack}
