doctype html
html#htmlwrapper
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/global.css')
    //- link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon', sizes='57x57', href='/image/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/image/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/image/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/image/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/image/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/image/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/image/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/image/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/image/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/image/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/image/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/image/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/image/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    //- script(src='https://www.google.com/recaptcha/api.js')
    // jQuery (for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')

    block styles

  body
  .container-fluid

    include navigation.jade
    block content

  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/dateonly.js')
  script(src='/js/global.js')
  
  block scripts
