extends layout

block styles
  // Register page style
  link(href='/css/intlTelInput.css', rel='stylesheet')
  link(href='/css/register.css', rel='stylesheet')
block content
  .login-container
    form.form-signin(action='/api/register' method='POST')
      h2.form-signin-heading
        p Register

      include flash

      label.signup.sr-only(for='signupToken') Registration Token
      input#signupToken.form-control.hidden(type='text', placeholder='Token Value', required='', autofocus='', name='token', value=token)
      label.signup.sr-only(for='signupToken') Registration Token
      input#signupToken.form-control.hidden(type='text', placeholder='Token Value', required='', autofocus='', name='email', value=token)
      label.signup(for='signupPassword') Password
      input#signupPassword.form-control(type='password', placeholder='Enter Password', required='', name='password', value=submission.password)
      label.signup(for='signupPassword2') Re-enter Password
      input#signupPassword2.form-control(type='password', placeholder='Re-Enter Password', required='', name='password2', value=submission.password2)

      button#signupInfo.submit-btn.btn.btn-lg.btn-default.btn-block(disabled='true', type='submit') Set Password

block scripts
  script(src='/js/register.js')
