#htmlwrapper .dash_text {
  text-align: center; }

#htmlwrapper table tbody tr {
  cursor: pointer; }

#htmlwrapper table.dataTable {
  width: 100% !important; }

#htmlwrapper div.dataTables_wrapper div.dataTables_info {
  padding-bottom: 8px; }

#htmlwrapper input[type=checkbox] {
  margin-right: 5px; }

#htmlwrapper #searchBar {
  margin-bottom: 10px; }

#htmlwrapper button {
  margin: auto;
  max-width: 300px;
  margin-bottom: 10px; }

#htmlwrapper .invalid {
  color: #B33; }

#htmlwrapper #uploader {
  border: 4px dotted #444;
  max-width: 400px;
  width: 100%;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  #htmlwrapper #uploader.hover {
    background-color: #ddd; }
  #htmlwrapper #uploader #icon {
    text-align: center; }
    #htmlwrapper #uploader #icon span {
      font-size: 50px;
      margin-top: 15px;
      margin-bottom: 10px; }
    #htmlwrapper #uploader #icon .glyphicon-refresh-animate {
      -animation: spin 1.5s infinite linear;
      -webkit-animation: spin2 1.5s infinite linear; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
  #htmlwrapper #uploader #blurb {
    text-align: center;
    font-size: 15px;
    font-weight: 300; }
    #htmlwrapper #uploader #blurb #title {
      font-size: 22px;
      margin-bottom: 0; }
    #htmlwrapper #uploader #blurb #subtitle {
      font-size: 14px; }
