#htmlwrapper #countryFlag {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  display: block;
  border: 2px solid black; }

#htmlwrapper #headerName {
  margin-bottom: 30px; }
  #htmlwrapper #headerName h2 {
    font-weight: 600; }

#htmlwrapper form {
  max-width: 300px;
  margin: 0 auto; }
  #htmlwrapper form input, #htmlwrapper form button {
    margin-bottom: 10px;
    width: 100%; }
  #htmlwrapper form .btn {
    margin-top: 10px;
    margin-bottom: 0px; }
  #htmlwrapper form #addPhone {
    margin-bottom: 10px;
    margin-top: 0; }
  #htmlwrapper form .removePhone {
    width: 100%;
    margin-top: 0; }
  #htmlwrapper form .phoneNumberWrapper {
    height: 34px;
    margin-bottom: 10px; }
    #htmlwrapper form .phoneNumberWrapper > .phoneDiv {
      padding-right: 10px;
      padding-left: 0; }
    #htmlwrapper form .phoneNumberWrapper > .deletePhoneDiv {
      padding-right: 0;
      padding-left: 0; }

#htmlwrapper .pendingLabelBox {
  text-align: center; }
