#htmlwrapper input, #htmlwrapper select, #htmlwrapper button:not(.navbar-toggle) {
  width: 100%;
  margin: 10px auto; }

#htmlwrapper .leg .form-control {
  margin-top: -3px; }

#htmlwrapper .leg h2 {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin: 0; }

#htmlwrapper .warning:first-child {
  margin-top: 3px; }

#htmlwrapper .selectRequestee {
  margin-bottom: 10px; }

#htmlwrapper .checkbox {
  display: table;
  margin: 10px auto; }

#htmlwrapper #request-submit {
  margin-top: 10px; }
