#htmlwrapper #users .panel-heading {
  font-weight: 600;
  font-size: 16px; }

#htmlwrapper #users .text {
  font-size: 14px;
  line-height: 43px; }
  #htmlwrapper #users .text .light {
    color: #aaa; }

#htmlwrapper #users .actions button {
  width: 100%; }

#htmlwrapper #users .actions .btn-group {
  width: 100%; }
  #htmlwrapper #users .actions .btn-group button {
    width: 50%; }
