#htmlwrapper .dash_text {
  text-align: center; }

#htmlwrapper table tbody tr {
  cursor: pointer; }

#htmlwrapper table.dataTable {
  width: 100% !important; }

#htmlwrapper div.dataTables_wrapper div.dataTables_info {
  padding-bottom: 8px; }

#htmlwrapper input[type=checkbox] {
  margin-right: 5px; }

#htmlwrapper #searchBar {
  margin-bottom: 10px; }

#htmlwrapper td:nth-child(5) {
  text-align: center; }
