#form {
  border: 2px solid #e3e3ef;
  padding: 0; }

#form_data {
  padding: 20px; }

#form_header {
  background-color: #f9f9f9;
  color: #888888;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

input, select, button {
  width: 100%;
  margin: 10px auto; }

#comments {
  padding-top: 6px; }

button {
  background-color: #a4a499; }

::-webkit-input-placeholder {
  font-weight: bold;
  font-style: italic; }

:-moz-placeholder {
  font-weight: bold;
  font-style: italic; }

input {
  padding: 8px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0; }
