doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/global.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

    block styles

  body
  .container-fluid

    include navigation.jade
    block content

  // jQuery (for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  script(src='js/bootstrap.min.js')


  block scripts

