extends layout

block styles
    // Register page style
    link(href='/css/register.css', rel='stylesheet')
block content
    .top-nav
      h3.login-title BonVoyage
      button#register-btn.btn.btn.btn-default(type='button') Login
    .login-container
      form.form-signin
        h2.form-signin-heading
          p Register


        label.sr-only(for='signupName') Enter Full Name
        input#signupName.form-control(type='text', placeholder='Enter Full Name', required='', autofocus='')
        label.sr-only(for='signupEmail') Email address
        input#signupEmail.form-control(type='email', placeholder='Enter Email Address', required='', autofocus='')
        label.sr-only(for='signupPassword') Password
        input#signupPassword.form-control(type='password', placeholder='Enter Password', required='')
        label.sr-only(for='signupRePassword') Password
        input#signupRePassword.form-control(type='password', placeholder='Re-Enter Password', required='')

        button#signupInfo.submit-btn.btn.btn-lg.btn-primary.btn-block(type='submit')
          p.signin-text Sign Up

block scripts
    script(src='/js/register.js')


