<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The 3 meta tags below MUST come first in the head-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <!-- Reset CSS style-->
    <link href="/css/reset.css" rel="stylesheet">
    <!-- Bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Register page style-->
    <link href="/css/register.css" rel="stylesheet">
  </head>
  <body>
    <div class="top-nav">
      <h3 class="login-title">BonVoyage</h3>
      <button id="register-btn" type="button" class="btn btn btn-default">Login</button>
    </div>
    <div class="login-container">
      <form action="/register" method="post" class="form-signin">
        <h2 class="form-signin-heading">
          <p>Register</p>
        </h2>
        <label for="signupName" class="sr-only">Enter Full Name</label>
        <input id="signupName" type="text" placeholder="Enter Full Name" required="" autofocus="" name="name" class="form-control">
        <label for="signupEmail" class="sr-only">Email address</label>
        <input id="signupEmail" type="email" placeholder="Enter Email Address" required="" autofocus="" name="email" class="form-control">
        <label for="signupPassword" class="sr-only">Password</label>
        <input id="signupPassword" type="password" placeholder="Enter Password" required="" name="password" class="form-control">
        <label for="signupRePassword" class="sr-only">Password</label>
        <input id="signupRePassword" type="password" placeholder="Re-Enter Password" required="" name="password2" class="form-control">
        <button id="signupInfo" type="submit" class="submit-btn btn btn-lg btn-primary btn-block">
          <p class="signin-text">Sign Up</p>
        </button>
      </form>
    </div>
    <!-- jQuery (for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all complied plugins-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>