//- doctype html
//- html(lang='en')
//-   head
//-     title Submission Form

//-     // Bootstrap core CSS
//-     link(href='/css/bootstrap.min.css', rel='stylesheet')

extends 'layout'

block styles
  link(href='/css/pickadate.css', rel='stylesheet')

block content
  h1 hello world


block scripts

