extends layout

block styles
  link(href='/css/default.css', rel='stylesheet')
  link(href='/css/default.date.css', rel='stylesheet')
  link(href='/css/selectize.css', rel='stylesheet')
  link(href='/css/selectize.bootstrap3.css', rel='stylesheet')

block content
  h1 Submission Form

  form(action = '/submit' method = 'post')
    div#date_leaving
      input.datepicker(type='text', placeholder='Date Leaving', name = 'leaving')

    div#date_returning
      input.datepicker(type='text', placeholder='Date Returning', name = 'returning')

    div#country_selected
      select#select-country(name = 'country')

    div#reason
      textarea(placeholder = 'Reason for leave:', name = 'reason')

    div#comments
      textarea(placeholder = 'Additional comments:', name = 'comments')

    div#btn_submit
      button(type='submit') Submit





block scripts
    script(src = 'js/picker.js')
    script(src = 'js/picker.date.js')
    script(src = 'js/selectize.min.js')
    script(src = 'js/submission.js')



