extends layout

block styles
  link(href='/css/default.css', rel='stylesheet')
  link(href='/css/default.date.css', rel='stylesheet')
  link(href='/css/selectize.css', rel='stylesheet')
  link(href='/css/selectize.bootstrap3.css', rel='stylesheet')
  link(rel='stylesheet', href='/css/submission.css')

block content
  .row
    .col-xs-12.col-md-offset-1.col-md-10

      .jumbotron
        h2 Submission Form
        
        if message != ""
          .alert.alert-danger(role='alert')
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
            span= message

        #request-submit
          //- Travel legs are inserted in submission.js
          button.btn.btn-default#request-add-leg-btn Add Trip Leg
          button.btn.btn-success#request-submit-btn Submit

block scripts
  script(src='/js/picker.js')
  script(src='/js/picker.date.js')
  script(src='/js/selectize.min.js')
  script(src='/js/submission.js')



