<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/pickadate.css" rel="stylesheet">
  </head>
  <body>
    <h1>Submission Form</h1>

    <div class = "date_leaving">
      <input class="datepicker" type="text" placeholder="Try me">

    </div>
  </body>
  <!-- jQuery (for Bootstrap's JavaScript plugins)-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/picker.date.js"></script>
  <script src="js/submission.js"></script>
</html>