extends layout

block styles
  link(rel='stylesheet', href='/css/volunteer_dash.css')
block content
  .row
    .col-xs-12.col-md-offset-1.col-md-10

      .jumbotron
        h2.dash_text Volunteer Dashboard
        form(action="/dashboard/submit")
          button.new-request-button.btn.btn-success.btn-block(type='submit') Add New Leave Request

        .button-bar.btn-group.btn-group-justified
          a.btn.btn-primary(href='#') Pending
          a.btn.btn-primary(href='#') History


        .table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th Name
                  th Country of Travel
                  th Start Date
                  th End Date
                  th Approved
              tbody

block scripts
  script(src='/js/moment.js')
  script(src='/js/dashboard.js')

